# A collection of snippets for use with the beamer class


snippet fmm "Beamer frame environment" bA
\begin{frame}
	\frametitle{${1:title}}
	$0
\end{frame}
endsnippet

snippet bll "Block environment" bA
\begin{block}{${1:title}}
	$0	
\end{block}
endsnippet


snippet cols "Beamer columns environment" bA
\begin{columns}
	$0
\end{columns}
endsnippet

snippet coll "\column{} (for use with beamer)" bA
\column{$1}
$0
endsnippet

snippet ps "\pause (for beamer)"
\pause
endsnippet

