# snippet CC "New chapter environment for UPC application" bA
# \begin{chapter}{${1:${VISUAL:}}}
# 	$0
# \end{chapter}
# endsnippet

# snippet ss "Sequence definition for Chapter 4 of Mat 1" A
# \sequence{${1:a}}{${2:n}}{${3:\mathbb{N}}}
# endsnippet

priority -1
