snippet CC "New chapter environment for UPC application" bA
\begin{chapter}{${1:${VISUAL:}}}
	$0
\end{chapter}
endsnippet

priority -1
snippet nn "\hfill-like fuctionality in math environments. Used in equation sheets" A
& \hfillnote{$1}\\\\$0
endsnippet

