.DS_Store

*.bak

/config/nvim/pack
/config/vifm/*.json*
/config/mpv/watch_later
/config/pulse/*.tdb
/config/QtProject.conf

/config/Signal
/config/iterm2
/config/dconf
/config/syncthing
/config/tmux/plugins
/config/tmux/resurrect
/config/okularrc
/config/okularpartrc
/config/nvim/swap
/config/abiword
/config/libreoffice
