priority 1
snippet -- "Commented line with a bunch of dashes ----------------- " bA
# --------------------------------------------- #
endsnippet

snippet ff "New function definition" bA
function ${1:name}() {
	$0
}
endsnippet

snippet if "if statement" bA
if [ $1 ]
then
	$0
fi
endsnippet

snippet elif "elif statement" bA
elif [ $1 ]
then
	$0
endsnippet
