snippet for "For loop" bA
for ($1) {
	$0
}
endsnippet

snippet while "While loop" bA
while ($1) {
	$0
}
endsnippet

snippet dl "Do-while loop" bA
do {
	$0
} while($1) 
endsnippet

snippet if "If statement" bA
if ($1) {
	$0
}
endsnippet

snippet elif "Else-if statement" bA
else if ($1) {
	$0
}
endsnippet

snippet else "Else statement" bA
else {
	$0
}
endsnippet

snippet }elif "Else-if statement" bA
} else if ($1) {
	$0
}
endsnippet

snippet }else "Else statement" bA
} else {
	$0
}
endsnippet
